<nav id="nav">
    <ul class="links">
        <li class="active"><a href="index.html">THIS IS MASSIVELY</a></li>
        <li><a href="generic.html">Generic Page</a></li>
        <li><a href="elements.html">Elements Reference</a></li>
    </ul>
    <ul class="icons">
        <li><a href="#" class="twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="nstagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="github"><span class="label">GitHub</span></a></li>
    </ul>
</nav>